<!-- inner banner -->
<section class="inner-banner">
	<div class="container">
	</div>
</section>
<!-- //inner banner -->

<!-- page details -->
<div class="breadcrumb-agile mt-4">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page"> Login Page</li>
		</ol>
	</div>
</div>
<!-- //page details -->

<!-- login -->
<section class="login py-5">
	<div class="container">
		<h3 class="heading mb-sm-5 mb-4 text-center">Login To Your Account</h3>
		
		<div class="login-form">
			<form action="#" method="post">
				<div class="row">
					<div class="col-md-4 text-md-right">
						<label>Username or email:</label>
					</div>
					<div class="col-md-8">
						<input type="text" placeholder="enter username or email id" required="">
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-4 text-md-right">
						<label>Password:</label>
					</div>
					<div class="col-md-8">
						<input type="password" placeholder="Enter your Password" required="">
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-4 text-md-right">
						<label class="checkbox"><input type="checkbox" name="checkbox" checked=""> Remember Me</label>
					</div>
					<div class="col-md-8">
						<a href="#">Forgot Your Password?</a>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-8 offset-md-4">
						<button class="btn">Submit</button>
					</div>
				</div>
			</form>
		</div>
		
	</div>
</section>
<!-- //login -->