<!-- inner banner -->
<section class="inner-banner">
	<div class="container">
		<h3 class="text-center">Single page</h3>
	</div>
</section>
<!-- //inner banner -->

<!-- page details -->
<div class="breadcrumb-agile">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html">Home</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page"> Single Page</li>
	</ol>
</div>
<!-- //page details -->

<!-- single page  -->
<section class="ab-info-main">
	<div class="container">
		<div class="inner-sec-w3pvt py-5">
			<div class="blog-sec">
				<div class="row mt-lg-3">
					<div class="col-lg-8 blog-left-content">
						<h5 class="card-title">Lacinia Eget Consectetur Sed Vivamus Magna Justo</h5>
						<ul class="blog-info my-2">
							<li class="mr-sm-4 mr-2"><span class="fa fa-eye"></span> 40 views</li>
							<li class="mr-sm-4 mr-2"><span class="fa fa-comments-o"></span> 20 comments</li>
							<li><span class="fa fa-folder-o"></span> Posted on Jan 22,2019</li>
						</ul>
						<hr>
						<div class="">
							<img class="card-img-top" src="assets/images/1.jpg" alt="Card image cap">
							<div class="mt-4">
								<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem,
								ac scelerisque nisl nibh vel lacus. Proin eget gravida odio vulputate malesuada. id dignissim sapien velit id
								felis ac cursus eros. Cras a ornare elit.</p>
								
								<p class="card-text mt-3">Consectetur adipisicing elit, sed dot eiusmod tempor incididunt Lorem ipsum dolor sit amet,
								ut labore et dolore magna aliqua.Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem,
								ac scelerisque nisl nibh vel lacus. Proin eget gravida odiot vulputate sed malesuada. id dignissim sapien velit id
								felis ac cursus eros. Cras a ornare elit.</p>
							</div>
						</div>


						<div class="comment-top">
							<h4>Comments</h4>
							<div class="media">
								<img src="assets/images/te1.jpg" alt="" class="img-fluid" />
								<div class="media-body">
									<h5 class="mt-0">John Thomson</h5>
									<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros. Cras a ornare elit.</p>

								</div>
							</div>
									<div class="media mt-3">
									<img src="assets/images/te2.jpg" alt="" class="img-fluid" />
										<div class="media-body" data-aos="fade-up">
											<h5 class="mt-0">Elisa Lindey</h5>
											<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.</p>
										</div>
									</div>
						</div>
						<div class="comment-top contact contact-form">
							<h4>Leave a Comment</h4>
							<form name="contactform " [formGroup] = "formData" (ngSubmit) = "onSubmit()"  id="contactform" method="post" action="#">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
										</div>
										<div class="form-group">
											<input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
										</div>

									</div>
									<div class="col-lg-6">

										<div class="form-group">
											<input type="text" class="form-control" id="phone" placeholder="Enter Phone no." formControlName="phone">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="subject" placeholder="Subject" formControlName="subject">
										</div>
									</div>
								</div>
								<div class="form-group">
									<textarea formControlName="comments" class="form-control" id="iq" placeholder="Enter Your Message Here"></textarea>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>

						</div>


					</div>

					<aside class="col-lg-4 blog-sldebar-right mt-lg-0 mt-5">
						<div class="single-gd">
							<h4>Subscribe newsletter</h4>
							<form action="#" method="post">

								<input type="email" name="Email" placeholder="Email" required="">
								<div class="button">

									<input type="submit" value="Subscribe">

								</div>
							</form>
						</div>
						<div class="single-gd tech-btm">
							<h4>Recent Posts</h4>
							<div class="blog-grids">
								<div class="blog-grid-right">
									<h5>
										<a routerLink="/single">Pellentesque dui, non felis. cenas male diam consequat magna</a>
									</h5>
									<p>21st Jan, 2019.</p>
								</div>
							</div>
							<hr>
							<div class="blog-grid">
								<div class="blog-grid-right">
									<h5>
										<a routerLink="/single">Pellentesque dui, non felis mae.</a>
									</h5>
									<p>21st Jan, 2019.</p>
								</div>
							</div>
							<hr>
							<div class="blog-grids mb-3">
								<div class="blog-grid-right">
									<h5>
										<a routerLink="/single">Pellentesque dui, non felis. Mae cenas male diam magna</a>
									</h5>
									<p>21st Jan, 2019.</p>
								</div>
							</div>
							<hr>
							<div class="blog-grids mb-3">
								<div class="blog-grid-right">
									<h5>
										<a routerLink="/single">Pellentesque dui, non felis. Mae cenas male</a>
									</h5>
									<p>21st Jan, 2019.</p>
								</div>
							</div>

						</div>
						<div class="single-gd">
							<h4>List group</h4>
							<ul class="list-group">
								<li class="list-group-item active">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Morbi leo risus</li>
								<li class="list-group-item">Porta ac consectetur ac</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
						</div>
						
						<div class="single-gd tech-btm">
							<h4>Related Posts</h4>
							<div class="blog-grids">
								<div class="blog-grid-left">
									<img src="assets/images/te1.jpg" class="img-fluid" alt="" />
								</div>
								<div class="blog-right">
									<h5>
										<a routerLink="/single">Pellentesque dui, non felis male</a>
									</h5>
									<p>21st Jan, 2019.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="blog-grids">
								<div class="blog-grid-left">
									<img src="assets/images/te2.jpg" class="img-fluid" alt="" />
								</div>
								<div class="blog-right">
									<h5>
										<a routerLink="/single">Pelle dui, non felis ut dolor sed</a>
									</h5>
									<p>21st Jan, 2019.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="blog-grids">
								<div class="blog-grid-left">
									<img src="assets/images/te1.jpg" class="img-fluid" alt="" />
								</div>
								<div class="blog-right">
									<h5>
										<a routerLink="/single">Pelle dui, non felis ut dolor sed</a>
									</h5>
									<p>21st Jan, 2019.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //single page  -->