<!-- inner banner -->
<section class="inner-banner">
	<div class="container">
		<h3 class="text-center">About Furnish</h3>
	</div>
</section>
<!-- //inner banner -->
<!-- page details -->
<div class="breadcrumb-agile">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a routerLink="/">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">About Us</li>
		</ol>
	</div>
</div>
<!-- //page details -->

<!-- about-->
<section class="wthree-row py-5" id="about">
	<div class="container py-lg-5">
		<div class="row about-main">
			<div class="col-lg-5 about-text-grid text-left pr-lg-5">
				<div class="title-desc">
					<h3 class="main-title-w3pvt text-capitalize">Our Mission is to design the best interior around</h3>
				</div>
				<hr>
				<p class="mt-3">Vestibulum feugiat tortor vitae diam euismod, ut et interdum nisi fermentum. Pellentesque sed sodales nunc.
				Vestibulum laoreet erat nisi, sit amet ultrices augue lobortis sed. Curabitur et tortor ac diam sed efficitur dapibus in vitae
				dui donec aliquet.</p>

				<a href="#more" class="text-capitalize serv_link btn bg-theme1 scroll mt-4">view more</a>
			</div>
			<div class="col-lg-3 col-sm-6 about-right mt-lg-0 mt-4">
				<img src="assets/images/a3.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-4 col-sm-6 mt-lg-0 mt-3 about-right2">
				<img src="assets/images/a1.jpg" class="img-fluid" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- specialization-->
<section class="wthree-row specialization py-5">
	<div class="container py-lg-5">
		<div class="row about-main">
			<div class="col-lg-5 about-text-grid text-left pr-lg-5">
				<h3 class="heading"> Our Specialization </h3>
				<p class="mt-3">Vestibulum feugiat tortor vitae diam euismod, ut et interdum nisi fermentum. Pellentesque sed sodales nunc.
				Vestibulum laoreet erat nisi, sit amet.</p>
				<hr>
				<p>01. Home Furniture Design</p>
				<p>02. Commercial Office Design</p>
				<p>03. Interior Furniture Design</p>
				<p>04. Indoor and Outdoor Furniture</p>
				<p>05. Landscape Design</p>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<span>24</span>
				<h4>years of experience</h4>
			</div>
			<div class="col-lg-4 col-sm-6 mt-lg-0 mt-4 about-right2">
				<img src="assets/images/specialization.jpg" class="img-fluid" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- //specialization -->


<!-- team -->
<section class="team py-5">
	<div class="container pt-lg-5">
		<div class="row agile-team-grids">
			<div class="col-lg-3">
				<h3 class="heading">Our <span>Team </span><span>Members</span></h3>
			</div>
			<div class="col-lg-9 mt-lg-0 mt-sm-5 mt-4">
				<div class="row">
					<div class="col-md-4 col-sm-6 agileits-team-grid">
						<div class="team-info">
							<img src="assets/images/t1.jpg" alt="" />
							<div class="team-caption"> 
								<h4>Isabella</h4>
								<p>CEO, Founder.</p>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									<li><a href="#"><span class="fa fa-rss"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 agileits-team-grid">
						<div class="team-info">
							<img src="assets/images/t2.jpg" alt="" />
							<div class="team-caption"> 
								<h4>Elizabeth</h4>
								<p>CEO, Founder.</p>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									<li><a href="#"><span class="fa fa-rss"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 agileits-team-grid">
						<div class="team-info">
							<img src="assets/images/t3.jpg" alt="" />
							<div class="team-caption"> 
								<h4>Olivia</h4>
								<p>CEO, Founder.</p>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									<li><a href="#"><span class="fa fa-rss"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 agileits-team-grid">
						<div class="team-info">
							<img src="assets/images/t4.jpg" alt="" />
							<div class="team-caption"> 
								<h4>Marquel</h4>
								<p>CEO, Founder.</p>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									<li><a href="#"><span class="fa fa-rss"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 agileits-team-grid">
						<div class="team-info">
							<img src="assets/images/t5.jpg" alt="" />
							<div class="team-caption"> 
								<h4>Demonte</h4>
								<p>CEO, Founder.</p>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									<li><a href="#"><span class="fa fa-rss"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-6 agileits-team-grid">
						<div class="team-info">
							<img src="assets/images/t6.jpg" alt="" />
							<div class="team-caption"> 
								<h4>Johnson</h4>
								<p>CEO, Founder.</p>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									<li><a href="#"><span class="fa fa-rss"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //team -->

<!-- creative -->
<section class="creative">
	<div class="overlay1 py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 mb-sm-4 mb-2">We Do Great Design For Creative
				Folks.</h3>
				<p class="mb-3">Vestibulum feugiat tortor vitae diam euismod, ut et interdum nisi fermentum Sed. Pellentesque sed sodales nunc.
				Vestibulum laoreet erat nisi, sit amet tortor vitae diam euismod, ut et interdum nisi fermentum euismod, ut et interdum.</p>
				<a routerLink="/contact"> Contact Us</a>
		</div>
	</div>
</section>
<!-- creative -->