<!-- 
<table class="table">
    <thead>
      <tr >
        <th scope="col">Contact ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Organization</th>
        <th scope="col">Comments</th>
        <th scope="col">Date Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let contact of contactList">
        <th scope="row">{{contact.contact_id}} </th>
        <td>{{contact.name}}</td>
        <td>{{contact.phone}}</td>
        <td>@{{contact.address}}</td>
        <td>@{{contact.organization}}</td>
        <td>@{{contact.comments}}</td>
        <td>@{{contact.datetime}}</td>
      </tr>
     
    </tbody>
  </table> -->
<div class="container">
  <kendo-grid
    [data]="gridView"
    [filter]="filter"
    [skip]="skip"
    [filterable]="true"
    [pageSize]="pageSize"
    [filterable]="true"
    [pageable]="true"
    (pageChange)="pageChange($event)"
    (filterChange)="filterChange($event)"
    [sortable]="{
      allowUnsort: allowUnsort,
      mode: multiple ? 'multiple' : 'single'
    }"
    [sort]="sort"
    (sortChange)="sortChange($event)"
  >
    <kendo-grid-column field="name" title="Name" filter="text">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="230" filter="text">
    </kendo-grid-column>
    <kendo-grid-column field="phone" title="Phone" filter="text">
    </kendo-grid-column>
    <kendo-grid-column field="address" title="Address" filter="text">
    </kendo-grid-column>
  </kendo-grid>
</div>
