ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

li {
  float: left;
  padding: 0px 0px 0px 30px;
}

li a, .dropbtn222 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown222:hover .dropbtn222 {
  background-color: rgba(255, 0, 157, 0.623);
}

li.dropdown222 {
  display: inline-block;
}

.dropdown-content222 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 20;
}

.dropdown-content222 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content222 a:hover {background-color: #f1f1f1;}

.dropdown222:hover .dropdown-content222 {
  display: block;
}