<header class="py-sm-3 pt-3 pb-2" id="home">
	<div class="container">
		<!-- nav -->
		<div class="top d-md-flex">
			<div id="logo">
				<h1> <a routerLink="/"><span class="fa fa-meetup"></span> Furnish</a></h1>
			</div>
			<div class="search-form mx-md-auto">
				<div class="n-right-w3ls">
					<form action="#" method="post" class="newsletter">
						<input class="search" type="text" placeholder="Search..." required="">
						<button class="form-control btn" value=""><span class="fa fa-search"></span></button>
					</form>
				</div>
			</div>
			<div class="forms mt-md-0 mt-2">
				<a routerLink="/sign" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
				<a routerLink="/register" class="btn"><span class="fa fa-pencil-square-o"></span> Create Account</a>
			</div>
		</div>

		<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
		<input type="checkbox" id="drop" />
		<ul>
			<li *ngFor="let menu of menuItem | orderBy: 'menu_order'">


				<a *ngIf="menu.id !== 19" routerLink="/{{menu.menu_url}}">{{menu.menu_label}} </a>


			</li>

			<li class="dropdown222" *ngFor="let menu of menuItem">
				<a routerLink="/{{menu.menu_url}}" *ngIf="menu.id ==19" class="dropbtn222">{{menu.menu_label}}</a>
				<div class="dropdown-content222">
			<li *ngFor="let menu of subMenuAbout">
				<a routerLink="/{{menu.menu_url}}">{{menu.menu_label}}</a>
			</li>
	</div>
	</li>
	</ul>



	<!-- //nav -->





	</div>
</header>