<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <app-album-list></app-album-list>
        </div>
        <div class="col-sm-8">
            <div class="row">
                            <div *ngFor="let gallery of galleries" class="col-sm-4">
                    <div >
                    <img width="100%" src="{{imagePath}}{{gallery.image}}"/>
                                </div>
                    </div>
            </div>


        </div>
    </div>
</div>