<section class="inner-banner">
        <div class="container">
            <h3 class="text-center">News/Notices Page</h3>
        </div>
    </section>
    <!-- //inner banner -->
    
    <!-- page details -->
    <div class="breadcrumb-agile">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink = "/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> News Event</li>
            </ol>
        </div>
    </div>
    <!-- //page details -->
    
    <!-- Recent News -->
    <section class="news py-5" id="news">
        <div class="container py-lg-3">
            <div class="row blog-grids">
                <div class="col-lg-4 col-md-6 newsgrid1" *ngFor = "let new of news">
                    <img src="{{imagePath}}{{new.image}} "   alt="news image" class="img-fluid">
                    <h4 class="mt-4"><a routerLink = "/">{{new.title}}</a></h4>
                    <ul class="blog-info mt-2">
                        <li class="mr-4"><span class="fa fa-calendar-check-o"></span> {{new.date}}</li>
                        <li><span class="fa fa-calendar-plus-o"></span> {{new.update_date}}</li>
                    </ul>
                    {{new.full_detail}}
                </div>
                
            </div>		
        </div>
    </section>