<!-- inner banner -->
<section class="inner-banner">
        <div class="container">
            <h3 class="text-center">Services Page</h3>
        </div>
    </section>
    <!-- //inner banner -->
    
    <!-- page details -->
    <div class="breadcrumb-agile">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> Our Services</li>
            </ol>
        </div>
    </div>
    <!-- //page details -->
    
    <!-- services -->
    <div class="what py-5" id="what">
        <div class="container pb-lg-5">
            <div class="row pt-xl-4">
                <div class="col-lg-7 serv_bottom text-center">
                    <div class="row mt-lg-5">
                        <div class="col-sm-6">
                            <div class="bottom-gd">
                                <h4 class="my-sm-3 mt-3 mb-2">Office Design</h4>
                                <p>Sit amet mattis quam, sit amet exc epteur sint occaecat cupidatat.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-4">
                            <div class="bottom-gd">
                                <h4 class="my-sm-3 mt-3 mb-2">Living room</h4>
                                <p>Sit amet mattis quam, sit amet exc epteur sint occaecat cupidatat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-sm-5 mt-4">
                        <div class="col-sm-6">
                            <div class="bottom-gd">
                                <h4 class="my-sm-3 mt-3 mb-2">Quality Furniture</h4>
                                <p>Sit amet mattis quam, sit amet exc epteur sint occaecat cupidatat.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-4">
                            <div class="bottom-gd">
                                <h4 class="my-sm-3 mt-3 mb-2">Bedroom Design</h4>
                                <p>Sit amet mattis quam, sit amet exc eteur sint occaecat cupidatat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-sm-5 mt-4">
                        <div class="col-sm-6">
                            <div class="bottom-gd">
                                <h4 class="my-sm-3 mt-3 mb-2">Wooden Wall</h4>
                                <p>Sit amet mattis quam, sit amet exc epteur sint occaecat cupidatat.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-4">
                            <div class="bottom-gd">
                                <h4 class="my-sm-3 mt-3 mb-2">Dining Room</h4>
                                <p>Sit amet mattis quam, sit amet exc epteur sint occaecat cupidatat.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 about-right mt-lg-0 mt-5">
                    <img src="assets/images/a3.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- //services -->
    <!-- what we do -->
<section class="what-we-do">
        <div class="overlay1 py-5">
            <div class="container py-lg-5">
                <div class="row">
                    <div class="col-lg-3 mb-lg-0 mb-4">
                        <h3 class="heading">What <span>we do</span></h3>
                    </div>
                    <div class="col-lg-3 col-md-4 mt-md-0 mt-4">
                        <div class="grid">
                            <div class="grid-layout">
                                <span class="fa fa-building mb-sm-4 mb-2" aria-hidden="true"></span>
                                <h5 class="card-title mb-sm-3 mb-2">Architecture</h5>
                                <p class="card-text">Pellentesque et sed sodales nuc ipsum. Vestibulum laoreeti erat nis,
                                sit amet ultricel sed augues lobotis sed. Curabitur et tortor ac diam laoreet erat dolor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 mt-md-0 mt-sm-5 mt-4">
                        <div class="grid">
                            <div class="grid-layout">
                                <span class="fa fa-bath mb-sm-4 mb-2" aria-hidden="true"></span>
                                <h5 class="card-title mb-sm-3 mb-2">Interior Design</h5>
                                <p class="card-text">Pellentesque et sed sodales nuc ipsum. Vestibulum laoreeti erat nis,
                                sit amet ultricel sed augues lobotis sed. Curabitur et tortor ac diam laoreet erat dolor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 mt-md-0 mt-sm-5 mt-4">
                        <div class="grid">
                            <div class="grid-layout">
                                <span class="fa fa-align-left mb-sm-4 mb-2" aria-hidden="true"></span>
                                <h5 class="card-title mb-sm-3 mb-2">Furniture</h5>
                                <p class="card-text">Pellentesque et sed sodales nuc ipsum. Vestibulum laoreeti erat nis,
                                sit amet ultricel sed augues lobotis sed. Curabitur et tortor ac diam laoreet erat dolor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //what we do -->
    
    <!-- testimonials -->
    <section class="testi text-center py-5" id="testi">
        <div class="container pb-xl-5 py-lg-3">
            <h3 class="text-center heading mb-5">Testimonials</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="testi-cgrid">
                        <div class="testi-icon">
                            <img src="assets/images/te1.jpg" alt="" class="img-fluid"/>
                        </div>
                        <h6 class="b-w3ltxt mt-3">Elisa Lindey</h6>
                        <p class="mx-auto">Onec consequat sapien ut leo cursus
                            rhoncus. Nullam dui mi, vulputate ac metus semper. Vestibulum sedet laoreeti erat nis,
                            sit amet ultricel sed.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-sm-5 mt-4">
                    <div class="testi-cgrid">
                        <div class="testi-icon">
                            <img src="assets/images/te2.jpg" alt="" class="img-fluid"/>
                        </div>
                        <h6 class="b-w3ltxt mt-3">Peter Parker</h6>
                        <p class="mx-auto">Onec consequat sapien ut leo cursus
                            rhoncus. Nullam dui mi, vulputate ac metus semper. Vestibulum sedet laoreeti erat nis,
                            sit amet ultricel sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials -->