<div class="container">
    
        <table class="table">
            <thead class="thead-dark"> 
                <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Status</th>
                <th>Display Order</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let album of albums ">
                    <td> {{album.album_id}} </td>
                    <td> {{album.title}} </td>
                    <td> {{album.status}} </td>
                    <td> {{album.display_order}} </td>
                </tr>
            </tbody>

        </table>
    
</div>