<!-- footer -->
<footer class="footer py-5">
        <div class="container py-md-3">
            <div class="footer-grid_section text-center">
                <div class="footer-title mb-3">
                    <img src = "https://bentray.work/bentray-cms/public/images/{{settings.favicon}}"/>
                    <h2> <a href="index.html">{{settings?.branchs}}</a></h2>
                </div>
                <div class="footer-text">
                    <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ipnut libero malesuada feugiat.
                     Lorem ipsum dolor sit amet elit.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 mb-lg-0 mb-4 footer-top">
                    <h4 class="mb-4 w3f_title text-uppercase">Contact Info</h4>
                    <div class="footer-style-w3ls my-2">
                        <p> {{settings?.address}}.</p>
                    </div>
                    <div class="footer-style-w3ls my-2">
                        <p> {{settings?.phone}}</p>
                    </div>
                    <div class="footer-style-w3ls">
                        <p> <a href="mailto:info@gmail.com">{{settings.email}}</a></p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6 footv3-left">
                    <h4 class="mb-md-4 mb-3 w3f_title text-uppercase">Company</h4>
                    <ul class="list-agileits">
                        <li class="my-2">
                            <a [routerLink] = '' (click) = "onClick()" >
                                About Us
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#">
                                Terms of use
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#">
                                Faq's
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#">
                                Privacy Ploicy
                            </a>
                        </li>
                        <li>
                            <a routerLink = "/contact">
                                Get In Touch
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <h4 class="mb-md-4 mb-3 w3f_title text-uppercase">Categories</h4>
                    <ul class="list-agileits">
                        <li class="my-2">
                            <a href="#">
                                Furniture Chairs
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#">
                                Three Seater Sofas
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#">
                                Dining Tables
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#">
                                Office Chairs
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Kitchen Cabinets
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="col-lg-2 col-md-3 col-6 mt-md-0 mt-sm-5 mt-4">
                    <h4 class="mb-md-4 mb-3 w3f_title text-uppercase">Resources</h4>
                    <ul class="list-agileits">
                        <li class="my-2">
                            <a href="#">
                                Getting Started
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#">
                                Best Collections
                            </a>
                        </li>
                        <li class="my-2">
                            <a routerLink = "/categories">
                                All Categories
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#">
                                24/7 Support
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact for Help
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-lg-2 col-md-3 col-6 mt-md-0 mt-sm-5 mt-4">
                    <h4 class="mb-md-4 mb-3 w3f_title text-uppercase">Account</h4>
                    <ul class="list-agileits">
                        <li class="my-2">
                            <a routerLink = "/sign">
                                Sign In
                            </a>
                        </li>
                        <li class="">
                            <a routerLink = "/register">
                                Create Account
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    
    <!-- copyright -->
    <section class="copy-right py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="">© 2019 {{settings?.logotitle}}  All rights reserved | Design by
                        <a href="{{settings.powered_by_link}}"> {{settings.branchs}}.</a>
                    </p>
                </div>
                <div class="col-md-4 mt-md-0 mt-4">
                    <div class="subscribe-form">
                        <form action="#" method="post" class="newsletter">
                            <input class="subscribe" type="text" placeholder="Subscribe...">
                            <button class="form-control btn" value=""><span class="fa fa-long-arrow-right"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- copyright -->
    
    <!-- move top icon -->
    <a href="#home" class="move-top text-center"></a>
    <!-- //move top icon -->