<!-- banner -->
<section class="banner_w3lspvt">
	<div class="csslider infinity" id="slider1">
		<input type="radio" name="slides" checked="checked" id="slides_1" />
		<input type="radio" name="slides" id="slides_2" />
		<input type="radio" name="slides" id="slides_3" />
		<input type="radio" name="slides" id="slides_4" />
		<ul>
			<li>
				<div style="background: url(assets/images/1.jpg) no-repeat center; background-size: cover;">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">We Are the best designers of Interior Furniture</h3>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a routerLink="/about" class="button-style mt-4">Explore More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div style="background: url(assets/images/3.jpg) no-repeat center; background-size: cover;">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">We Are the best designers of Interior Furniture</h3>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a routerLink="/about" class="button-style mt-4">Explore More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div style="background: url(assets/images/4.jpg) no-repeat center; background-size: cover;">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">We Are the best designers of Interior Furniture</h3>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a routerLink="/about" class="button-style mt-4">Explore More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div style="background: url(assets/images/5.jpg) no-repeat center; background-size: cover;">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">We Are the best designers of Interior Furniture</h3>
								<p class="text-li mx-auto mt-2">Ut enim ad minim quis nostrud exerci sed do eiusmod tempor incididunt ut
									labore et dolore magna aliqua nostrud exerci sed.</p>
								<a routerLink="/about" class="button-style mt-4">Explore More</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="arrows">
			<label for="slides_1"></label>
			<label for="slides_2"></label>
			<label for="slides_3"></label>
			<label for="slides_4"></label>
		</div>
	</div>
</section>
<!-- //banner -->

<!-- about-->
<section class="wthree-row py-5" id="about">
	<div class="container py-lg-5">
		<div class="row about-main">
			<div class="col-lg-5 about-text-grid text-left pr-lg-5">
				<div class="title-desc">
					<h3 class="main-title-w3pvt text-capitalize">Our Mission is to design the best interior around</h3>
				</div>
				<hr>
				<p class="mt-3">Vestibulum feugiat tortor vitae diam euismod, ut et interdum nisi fermentum. Pellentesque sed sodales nunc.
				Vestibulum laoreet erat nisi, sit amet ultrices augue lobortis sed. Curabitur et tortor ac diam sed efficitur dapibus in vitae
				dui donec aliquet.</p>

				<a href="#more" class="text-capitalize serv_link btn bg-theme1 scroll mt-4">view more</a>
			</div>
			<div class="col-lg-3 col-sm-6 about-right mt-lg-0 mt-4">
				<img src="assets/images/a3.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-4 col-sm-6 mt-lg-0 mt-3 about-right2">
				<img src="assets/images/a1.jpg" class="img-fluid" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- what we do -->
<section class="what-we-do">
	<div class="overlay1 py-5">
		<div class="container py-lg-5">
			<div class="row">
				<div class="col-lg-3 mb-lg-0 mb-4">
					<h3 class="heading">What <span>we do</span></h3>
				</div>
				<div class="col-lg-3 col-md-4 mt-md-0 mt-4">
					<div class="grid">
						<div class="grid-layout">
							<span class="fa fa-building mb-sm-4 mb-2" aria-hidden="true"></span>
							<h5 class="card-title mb-sm-3 mb-2">Architecture</h5>
							<p class="card-text">Pellentesque et sed sodales nuc ipsum. Vestibulum laoreeti erat nis,
							sit amet ultricel sed augues lobotis sed. Curabitur et tortor ac diam laoreet erat dolor.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 mt-md-0 mt-sm-5 mt-4">
					<div class="grid">
						<div class="grid-layout">
							<span class="fa fa-bath mb-sm-4 mb-2" aria-hidden="true"></span>
							<h5 class="card-title mb-sm-3 mb-2">Interior Design</h5>
							<p class="card-text">Pellentesque et sed sodales nuc ipsum. Vestibulum laoreeti erat nis,
							sit amet ultricel sed augues lobotis sed. Curabitur et tortor ac diam laoreet erat dolor.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 mt-md-0 mt-sm-5 mt-4">
					<div class="grid">
						<div class="grid-layout">
							<span class="fa fa-align-left mb-sm-4 mb-2" aria-hidden="true"></span>
							<h5 class="card-title mb-sm-3 mb-2">Furniture</h5>
							<p class="card-text">Pellentesque et sed sodales nuc ipsum. Vestibulum laoreeti erat nis,
							sit amet ultricel sed augues lobotis sed. Curabitur et tortor ac diam laoreet erat dolor.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //what we do -->

<!-- specialization-->
<section class="wthree-row specialization py-5">
	<div class="container py-lg-5">
		<div class="row about-main">
			<div class="col-lg-5 about-text-grid text-left pr-lg-5">
				<h3 class="heading"> Our Specialization </h3>
				<p class="mt-3">Vestibulum feugiat tortor vitae diam euismod, ut et interdum nisi fermentum. Pellentesque sed sodales nunc.
				Vestibulum laoreet erat nisi, sit amet.</p>
				<hr>
				<p>01. Home Furniture Design</p>
				<p>02. Commercial Office Design</p>
				<p>03. Interior Furniture Design</p>
				<p>04. Indoor and Outdoor Furniture</p>
				<p>05. Landscape Design</p>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<span>24</span>
				<h4>years of experience</h4>
			</div>
			<div class="col-lg-4 col-sm-6 mt-lg-0 mt-4 about-right2">
				<img src="assets/images/specialization.jpg" class="img-fluid" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- //specialization -->

<!-- top categories -->
<section class="news py-5" id="news">
	<div class="container py-lg-5">
		<div class="d-flex view">
			<h3 class="heading mb-5"> Top Categories </h3>
			<div class="ml-auto">
				<a routerLink="/categories">View All</a>
			</div>
		</div>
		<div class="row news-grids">
			<div class="col-lg-3 col-sm-6 newsgrid1">
				<img src="assets/images/living-room.jpg" alt="news image" class="img-fluid">
				<h4 class="mt-4">Living Room</h4>
				<p class="mt-3">Nulla pellentesque dolor ipsum laoreet eleifend integer. </p>
			</div>
			<div class="col-lg-3 col-sm-6 mt-sm-0 mt-5 newsgrid2">
				<img src="assets/images/dining-room.jpg" alt="news image" class="img-fluid">
				<h4 class=" mt-4">Dining Room</h4>
				<p class="mt-3">Nulla pellentesque dolor ipsum laoreet eleifend integer. </p>
			</div>
			<div class="col-lg-3 col-sm-6 newsgrid3 mt-lg-0 mt-4">
				<img src="assets/images/bedrooom.jpg" alt="news image" class="img-fluid">
				<h4 class=" mt-4">Bedroom</h4>
				<p class="mt-3">Nulla pellentesque dolor ipsum laoreet eleifend integer. </p>
			</div>
			<div class="col-lg-3 col-sm-6 newsgrid3 mt-lg-0 mt-4">
				<img src="assets/images/office-room.jpg" alt="news image" class="img-fluid">
				<h4 class=" mt-4">Office Room</h4>
				<p class="mt-3">Nulla pellentesque dolor ipsum laoreet eleifend integer. </p>
			</div>
		</div>		
	</div>
</section>
<!-- //top categories -->	

<!-- tabs -->
<section class="middile-sec py-5" id="tabs">
	<div class="container py-md-5">
		<div class="row">
			<div class="col-lg-12 middile-inner-con">
				<div class="tab-main mx-auto">

					<input id="tab1" type="radio" name="tabs" checked>
					<label for="tab1"> Soft Furniture</label>

					<input id="tab2" type="radio" name="tabs">
					<label for="tab2"> Kitchen Cabinet</label>

					<input id="tab3" type="radio" name="tabs">
					<label for="tab3"> Three Seater Sofa</label>
					
					<input id="tab4" type="radio" name="tabs">
					<label for="tab4"> Wall Design</label>

					<section id="content1">
						<div class="row">
							<div class="col-md-4">
								<img src="assets/images/soft.jpg" class="img-fluid" alt="" />
							</div>
							<div class="col-md-8 mt-md-0 mt-4">
								<h5 class="mb-3 text-capitalize">The personality and lifestyle of a homeowner is reflected to a large extent in the interior design and décor of the home. Soft furnishings play an important role in interiors.</h5>	
								<p>Vivamus eget est in odio tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum, sed auctor ut turpis cursus. Vivamus eget est in odio tempor interdum. Mauris max fermentum arcu, ac finibus ante. Sed mattis risus.</p>
							</div>
						</div>
					</section>

					<section id="content2">
						<div class="row">
							<div class="col-md-8">
								<h5 class="mb-3 text-capitalize">Kitchen cabinets are the built-in furniture installed in many kitchens for storage of food, cooking equipment, and often silverware and dishes for table service. </h5>
								<p>Mauris max fermentum arcu, ac finibus ante Vivamus eget est in odio sed tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum, ut auctor turpis cursus ipsum dolor. Vivamus eget est in odio tempor interdum.</p>
							</div>
							<div class="col-md-4 mt-md-0 mt-4">
								<img src="assets/images/kitchen.jpg" class="img-fluid" alt="" />
							</div>
						</div>
					</section>

					<section id="content3">
						<div class="row">
							<div class="col-md-4">
								<img src="assets/images/sofa.jpg" class="img-fluid" alt="" />
							</div>
							<div class="col-md-8 mt-md-0 mt-4">
								<h5 class="mb-3 text-capitalize">The best decor for your living room are 3 Seater Sofas so choose wisely according to your home requirements. Explore our latest sofa designs. </h5>
								<p>Aac finibus ante. Sed mattis risus at ipsum Vivamus eget est in odio tempor interdumet sed. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum, ut auctor turpis cursus. Mauris maximus fermentum arcu, ac finibus ante lorem ipsum.</p>
							</div>
						</div>
					</section>
					
					<section id="content4">
						<div class="row">
							<div class="col-md-8">
								<h5 class="mb-3 text-capitalize">wooden walls are a desirable, but not always economical, option. Keep the warmth and glow of wood inside your home. </h5>
								<p>Mauris max fermentum arcu, ac finibus ante Vivamus eget est in odio sed tempor interdum. Mauris maximus fermentum arcu, ac finibus ante. Sed mattis risus at ipsum elementum, ut auctor turpis cursus ipsum dolor. Vivamus eget est in odio tempor interdum.</p>
							</div>
							<div class="col-md-4 mt-md-0 mt-4">
								<img src="assets/images/wall.jpg" class="img-fluid" alt="" />
							</div>
						</div>
					</section>

				</div>
			</div>
			<div class="col-lg-6 about-img mt-lg-0 mt-4">
			</div>
		</div>
	</div>
</section>
<!--//tabs -->