<!-- inner banner -->
<section class="inner-banner">
	<div class="container">
	</div>
</section>
<!-- //inner banner -->

<!-- page details -->
<div class="breadcrumb-agile mt-4">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page"> Register</li>
		</ol>
	</div>
</div>
<!-- //page details -->

<!-- login -->
<section class="login py-5">
	<div class="container">
		<h3 class="heading mb-sm-5 mb-4 text-center">Create An Account</h3>
		
		<div class="login-form">
			<form [formGroup] = "formData" (ngSubmit) = "onSubmit()">
				<div class="row">
					<div class="col-md-4 text-md-right">
						<label>Your Full Name:</label>
					</div>
					<div class="col-md-8">
						<input type="text" formControlName="name" placeholder="enter your name" required="">
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-4 text-md-right">
						<label>Email Address:</label>
					</div>
					<div class="col-md-8">
						<input type="email" formControlName = "email" placeholder="enter your email id" required="">
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-4 text-md-right">
						<label>Phone Number:</label>
					</div>
					<div class="col-md-8">
						<input type="text" formControlName = "phone" placeholder="enter your phone number" required="">
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-4 text-md-right">
						<label>Password:</label>
					</div>
					<div class="col-md-8">
						<input type="password" formControlName = "password"  placeholder="Enter your Password" required="">
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-8 offset-md-4">
						<button class="btn">Create Account</button>
					</div>
				</div>
			</form>
		</div>
		
	</div>
</section>
<!-- //login -->